*{
    padding: 10px;
}

body
{
    background-image: url(./wood.jpg);
}

.top{
    background-color: blanchedalmond;
}

#email{
    width: 50%;
}

form{
    margin-left: 500px;
    width: 600px;
    margin: 80px;
    background: rgb(183, 179, 179);
    opacity: 80%;
}

#btn{
margin-left: 80px;
    border-radius: 5px;
    background-color: rgb(230, 72, 72);
    width: 630px;
}
