li{
    list-style: none;
    border: blue 2px solid;
    width: 180px;
    height: 30px;
    text-align: center;
    padding: 30px;
    margin: 10px;
    background-color: pink;
}

li:hover{
    background-color: blue;
    border: pink 2px dotted;
    color: white;
}
