*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(116, 244, 93);
    
}

header img{
    width: 120px;
    height: 80px;
}

header h1{
    margin-left: 15px;
    font-size: 40px;
}

ul{
    list-style: none;
    display: flex;
    background-color: rgb(34, 164, 190);
}

li{
    margin: 10px 10px;
    
}

li a{
    text-decoration: none;
    color: rgb(128, 255, 103);
    font-size: 30px;
}

li a:hover{
    padding: 8px 8px;
    background-color: rgb(71, 180, 49);
    color: white;
    border-radius: 3px;
}

.lukla h2{
    margin: 20px;
    font-size: 30px;
    text-decoration: underline;
}

.airport{
    margin-left: 15px;
    float: left;
}

.lukla img{
    width: 49%;
    height: 500px;
    border-radius: 5px;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    margin: 20px;
}

.wildlife h2{
    margin: 20px;
    font-size: 30px;
    text-decoration: underline;
}

.wildlife img{
    width: 1550px;
    height: 700px;
}

.overall img{
    height: 300px;
    width: 300px;
}

.overall{
    text-align: center ;
    display: flex;
    gap: 100px;
    justify-content: center ;
    margin-bottom: 30px;
}

footer{
    text-align: center;
    background-color: rgb(174, 169, 169);
    padding: 30px;
    font-size: 30px;
}

.overall img{
    padding: 20px 20px 0px 20px;
}

.camp, .nepal, .festivals{
    background-color: rgb(228, 216, 216);
    border-radius: 8px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: rgb(35, 86, 132);
    font-size: 20px;
}
