<h3>AJAX Calls using HttpClient in Angular</h3>
<hr/>

<input type="button" value="Get Customers" (click)="getData_click()"  />
<br><br>

<table border="2"   cellspacing="0">
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Avatar</th>
    </tr>
  
    <tr  *ngFor="let item of customersArray">
      <td>{{item.id}}</td>
      <td>{{item.email}}</td>
      <td>{{item.first_name}}</td>
      <td>{{item.last_name}}</td>
      <td><img src="{{item.avatar}}" alt=""></td>
    </tr>  
  </table>

  <br><br>

<div class="cont">  
  <div *ngFor="let item of customersArray">
    <div><img src="{{item.avatar}}" alt=""></div>
    <div>{{item.first_name}}</div>
  </div>
</div>