
<table border="2" [cellSpacing]="0" [cellPadding]="10">
    
    <tr>
        <th colspan="2">Employee Details</th>
    </tr>

    <tr>
        <td>Employee Id</td>
        <td>{{employeeId}}</td>
    </tr>

    <tr>
        <td>Employee Name</td>
        <td>{{employeeName}}</td>
    </tr>

    <tr>
        <td>Employee Job</td>
        <td>{{employeeJob}}</td>
    </tr>

    <tr>
        <td>Employee Salary</td>
        <td>{{employeeSalary}}</td>
    </tr>

    <tr>
        <td>Employee Depo</td>
        <td>{{employeeDeptno}}</td>
    </tr>
</table>