
.outer{
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(203, 197, 197);
}

.card{
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(247, 244, 244);
    text-align: center;
}

img{
    width: 200px;
    border-radius: 50%;
}

.star{
    width: 20px;    
}
