.container{
    margin: auto; 
    width: 600px;
    border: 2px solid black;  
    padding: 20px 10px; 
}

h1{
    text-align: center;
}

.acc_name{
    display: flex;
    flex-direction: column;   
}

.acc_number, .acc_number, .acc_type, .address, .occupation, .contact{
    display: flex;
    flex-direction: column;
    margin-top: 20px ;   
}

label{
    font-weight: bold;
}

.acc_name input, .acc_number input, .address textarea, .address input, .occupation select, .contact select, .contact input, .submit input{
    margin: 5px 0px;
    padding: 5px;
    width: 98%;
}

.man{
    color: red;
}

.submit input{
    background-color: rgb(44, 130, 211);
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}


